.block {
    width: 100%;
    color: var(--white-text-color);
    text-align: center;
    text-wrap: wrap;
    position: relative;
    & h3 {
        font-size: calc(1vw + 30px);
        z-index: 2;
    }
    & h1 {
        font-size: calc(1vw + 70px);
        z-index: 2;
    }
}
