:root {
    --background-color: #020202;
    --sub-background-color: #181c1d;
    --button-color: #212730;
    --white-text-color: #96cee9;
    --sub-white-text-color: #ffffff;
    --dark-text-color: #96cee9;
}
